scipy
pillow>=7.1.0
easydict
cython
cffi
opencv-python
opencv-contrib-python
msgpack
matplotlib
pyyaml
tensorboardX
tqdm
jinja2
pascal_voc_writer
imageio[ffmpeg]
moviepy
numpy
open3d==0.18.0
pandas
projectaria_tools>=1.5.4
Requests
scikit_learn
ultralytics
flow_vis
tensorboard
trajectory_utils
gdown